{% extends "common/base.side.html" %}

{% block title %}
    Watchdog GetTaskRst
{% endblock %}

{% block rcontent %}
	<div class="btn-toolbar">
		<div class="btn-group">
			{% url "task_watchdogurl" as thetask_watchdogurl %}
			{% url "atom_task_watchdogurl" as the_atom_task_watchdogurl %}
			{% url "realtime_task_watchdogurl" as the_realtime_task_watchdogurl %}
			{% url "get_task_by_ip_watchdogurl" as the_get_task_by_ip_watchdogurl %}
			<a class="btn btn-default {%if request.path = thetask_watchdogurl or request.path = the_get_task_by_ip_watchdogurl or pro_flag = '0' %} active {%endif%}" href={{ thetask_watchdogurl }}><span class="glyphicon glyphicon-list"></span>配置定时备份工具</a>
			<a class="btn btn-default {%if request.path = the_realtime_task_watchdogurl or pro_flag = '1' %} active {%endif%}" href={{ the_realtime_task_watchdogurl }}><span class="glyphicon glyphicon-list"></span>配置实时维护工具</a>
			<a class="btn btn-default {% if request.path = the_atom_task_watchdogurl %} active {% endif %}" href={{ the_atom_task_watchdogurl }}><span class="glyphicon glyphicon-list"></span>原子任务管理</a>
		</div>
	</div>
    <hr/>

    <table class="table table-hover table-striped  table-bordered table-condensed">
        <tr>
            <th>插入时间</th>
            <th>更新时间</th>
            <th>主机IP</th>
            <th>任务</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        {% for i in lPage %}
            <tr style="font-size: 13px;" id = 'tr_{{i.host_id}}'>
                <td>{{ i.insert_time|date:"Y-m-d H:i:s" }}</td>
                <td>{{ i.update_time|date:"Y-m-d H:i:s" }}</td>
                <td>{{ host_ip }}</td>
                <td><a style="cursor:pointer" onclick="GetTaskById( {{ i.task_id }} )" }}>task-{{ i.task_id }}</a></td>
                <td>{% if i.md5_0 = i.md5_1 %} <span class="label label-success">无变动</span> {% else %} <span class="label label-danger">有变动</span> {% endif %}</td>
                <td class="host_buttom">
					<div class="btn-group">
						<a class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
							查看 <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a style="cursor:pointer" onclick="CheckGetStandardMsg({{i.task_id}},'{{i.host_id}}','{{host_ip}}')">{% if pro_flag = '0' %}监控标准{% else %}变更前配置{% endif %}</a></li>
							<li><a style="cursor:pointer" onclick="CheckGetRTMsg({{i.task_id}},'{{i.host_id}}','{{host_ip}}')">{% if pro_flag = '0' %}实时数据{% else %}变更后配置{% endif %}</a></li>
							<li><a style="cursor:pointer" onclick="CheckGetDiffMsg({{i.task_id}},'{{i.host_id}}','{{host_ip}}')">diff数据</a></li>
						</ul>
					</div>
                </td>
            </tr>
        {% endfor %}
    </table>
	
	<div id="id_modal_common" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="id_h4_title" class="modal-title"></h4>
				</div>
				<div id="id_div_body" class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(function(){
			ProProcess();
		})
		
		function ProProcess(){
			/*
			*预处理函数
			*/
			//说明表头字段
			$('[data-toggle=tooltip]').tooltip();
			
			//modal拖动
			$("#id_modal_common").draggable({
				handle:".modal-header",
				cursor:"move",
				refreshPositions:true,
			});
		}
	
		function GetTaskById(TaskId){
			$.ajax({
				type:"POST",
				url:'{% url "get_task_detail_by_id_watchdogurl" %}',
				dataType:"json",
				data:{
					csrfmiddlewaretoken: '{{ csrf_token }}',
					task_id:TaskId,
				},
				success:function(data){
					//console.log(data);
					$("#id_h4_title").text('备份命令');
					$("#id_div_body").children().remove();
					$("#id_div_body").append('<table class="table table-condensed"><tr><td id="id_td_task_info" colspan="2"></td></tr></table>');
					$("#id_td_task_info").append('<pre style = "background-color: #000000;color:#00bb00;font-size:15px">' + data['data']['task'] + '</pre>');
					$("#id_modal_common").modal();
				},			
			});
		}
		
		function GetTaskByIdRet(TaskId){
			var sRet = ''
			$.ajax({
				type:"POST",
				url:'{% url "get_task_detail_by_id_watchdogurl" %}',
				async:false,
				dataType:"json",
				data:{
					csrfmiddlewaretoken: '{{ csrf_token }}',
					task_id:TaskId,
				},
				success:function(data){
					//console.log(data);
					sRet = data['data']['task'];
				},			
			});
			return sRet;
		}
		
		function CheckGetAllMsg(iTaskId,iHostId){
			var sUrl = '/easyops/get_the_task_watchdog/' + iTaskId + '/' + iHostId + '/{{pro_flag}}/';
			var oRetMsg = {};
			$.ajax({
				type: "GET",
				url: sUrl,
				async:false,
				dataType:"json",
				success: function(data){
					oRetMsg = JSON.parse(data['ldata']);
				},		
			});	
			return oRetMsg;
		}
		
		//获取异常信息
		function CheckGetDiffMsg(iTaskId,iHostId,sHostIp){
			var oRetMsg = CheckGetAllMsg(iTaskId,iHostId);
			var sMsgA = TranStr(oRetMsg[0].ret_0);
			var sMsgB = TranStr(oRetMsg[0].ret_1);
			var sMsgC = GetDiffInfo(sMsgA,sMsgB);
			var sSubMsg = '内容说明：diff数据' + '\n' + '主机IP：' + sHostIp + '\n' + 'diff内容：\n';

			$("#id_div_body").children().remove();
			$("#id_h4_title").text('diff数据');
			$("#id_div_body").append('<pre style = "background-color: #000000;color:#00bb00;font-size:15px">' + sSubMsg + sMsgC + '</pre>');
			$("#id_modal_common").modal();
			
		}
		
		//获取监控标准
		function CheckGetStandardMsg(iTaskId,iHostId,sHostIp){
			var oRetMsg = CheckGetAllMsg(iTaskId,iHostId);
			var sMsgA = TranStr(oRetMsg[0].ret_0);
			//console.log(sMsgA);
			//console.log(gTaskInfo);
			
			$("#id_div_body").children().remove();
			if('{{pro_flag}}' == 0){
				$("#id_h4_title").text('监控标准');
			}
			else{
				$("#id_h4_title").text('变更前配置');
			}
			//获取当前的taskinfo
			var gTaskInfo = GetTaskByIdRet(iTaskId);
			
			//生成appendinfo
			$("#id_div_body").append(CreateAppendInfo(gTaskInfo,sMsgA));
			$("#id_modal_common").modal();
		}

		//获取实时数据
		function CheckGetRTMsg(iTaskId,iHostId,sHostIp){	
			var oRetMsg = CheckGetAllMsg(iTaskId,iHostId);
			var sMsgA = TranStr(oRetMsg[0].ret_1);
			//console.log(sMsgA);
			//console.log(gTaskInfo);
			
			$("#id_div_body").children().remove();
			if('{{pro_flag}}' == 0){
				$("#id_h4_title").text('实时数据');
			}
			else{
				$("#id_h4_title").text('变更后配置');
			}
			//获取当前的taskinfo
			var gTaskInfo = GetTaskByIdRet(iTaskId);
			//console.log('test',gTaskInfo);
			
			//生成appendinfo		
			$("#id_div_body").append(CreateAppendInfo(gTaskInfo,sMsgA));
			$("#id_modal_common").modal();
		
		}
		
		//根据split生成append信息，挂在modal div中
		function CreateAppendInfo(sTaskInfo,sTaskMsg){
			var sAppendInfo = '';
			var aTaskInfo = sTaskInfo.split(';');
			aTaskInfo.pop();
			var aTaskMsg = sTaskMsg.split('---split---');
			aTaskMsg.pop();
			
			sAppendInfo = 
				'<ul id="id_ul_tab" class="nav nav-tabs"> \
					<li class="dropdown">\
						<a style="cursor:pointer" id="id_a_tab" class="dropdown-toggle" data-toggle="dropdown">监控命令 <b class="caret"></b></a>\
						<ul class="dropdown-menu" role="menu" aria-labelledby="id_a_tab">LI_DATA</ul>\
					</li>\
				</ul>\
				<div id="id_div_tab_content" class="tab-content">DIV_DATA</div>';
			
			var sLiDataInfo = '';
			var sDivDataInfo = '';
			for(var i in aTaskInfo){
				sLiDataInfo += '<li><a href="#id_div_menu_' + i.toString() + '" tabindex="-1" data-toggle="tab">' + aTaskInfo[i] + '</a></li>';
				sDivDataInfo += '<div class="tab-pane fade" id="id_div_menu_' + i.toString() + '">' 
				+ '<pre style = "background-color: #000000;color:#00bb00;font-size:15px">' + aTaskMsg[i] + '</pre>' 
				+ '</div>'
			} 
			
			sAppendInfo = sAppendInfo.replace('LI_DATA',sLiDataInfo);
			sAppendInfo = sAppendInfo.replace('DIV_DATA',sDivDataInfo);
			//console.log(sAppendInfo);
			return sAppendInfo;
		}
		
		
		function TranStr(sStr){
			var sRetMsg = sStr.replace(/@_@/g,'');
			
			//去[]
			sRetMsg = sRetMsg.replace(/^\[(.*)\]$/g,"$1");
			
			//去除前后的引号
			sRetMsg = sRetMsg.replace(/^"(.*)"$/g,"$1");
			
			//去除","
			sRetMsg = sRetMsg.replace(/", "/g,'\n');
			
			return sRetMsg;
		}
		
		function GetDiffInfo(sStrA,sStrB){
			var aTmpA = sStrA.split("\n");
			var aTmpB = sStrB.split("\n");
			
			var oTmpA = new Object();
			var oTmpB = new Object();
			
			//转为对象存储
			for (var i in aTmpA){
				oTmpA[i] = aTmpA[i];
			}
			for (var i in aTmpB){
				oTmpB[i] = aTmpB[i];
			}
			
			var aDelA = new Array();
			var aDelB = new Array();
			//比较
			for(var KA in oTmpA){
				for(var KB in oTmpB){
					if (aTmpA[KA] == oTmpB[KB]){
						aDelA.push(KA);
						aDelB.push(KB);
					} 
				}
			}
			
			//删除
			for(var i in aDelA){
				delete oTmpA[aDelA[i]];
			}
			for(var i in aDelB){
				delete oTmpB[aDelB[i]];
			}
			
			//输出
			var RetMsg = '';
			if('{{pro_flag}}' == 0){
				RetMsg = '\n-------------监控标准-------------\n';
			}
			else{
				RetMsg = '\n-------------变更前配置-------------\n';
			}
			
			for(var KA in oTmpA){
				var iLineNum = +KA + 1; //字符串转数字
				RetMsg += iLineNum + '\t' + oTmpA[KA] + '\n';        	
			}
			
			if('{{pro_flag}}' == 0){
				RetMsg += '\n\n-------------实时数据-------------\n';
			}
			else{
				RetMsg += '\n\n-------------变更后配置-------------\n';
			}
			
			
			for(var KB in oTmpB){
				var iLineNum = +KB + 1; //字符串转数字
				RetMsg += iLineNum + '\t' + oTmpB[KB] + '\n';            
			}
			
			return RetMsg;    	
		}
	</script>
    {% include "common/paginator.html" %}


{% endblock %}