{% extends "CenterControl/center_control_common.html" %}

{% block title %}
	Framework Health
{% endblock %}

{% block subcontent %}
<div id="id_div_table"></div>
<!--<div id="id_all_graph" style="display: none">-->
<div id="id_all_graph" style="visibility:hidden">
	<div id = "TimeDiv" style = "height:55px;border:1px solid #ccc;padding:10px;">
		<label class="control-label col-md-1">开始</label>
		<div class="col-md-3">
			<input class="form-control" id="id_s_date" name="name_date" type="text" onchange = "getData(this.value,'s')"/>
		</div>
		<label class="control-label col-md-1">结束</label>
		<div class="col-md-3">
			<input class="form-control" id="id_e_date" name="name_date" type="text" onchange = "getData(this.value,'e')"/>
		</div>
	</div>
	<div id="id_div_mainPie" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
	<div id="id_div_mainPie1" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
</div>




<script>
	var oFrameworkData = {};
	var oHostModuleData = {};
	var aTable = [];
	var sDevIp = '';
	var sDevType = '';
	$(function(){
		getTableData(); //默认获取全部信息
		getTable();
		initDate();
	});
	
	//----------------------------------
	function initDate() {
        //时间
        var today = new Date();
        var sDateNow = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

        $("#id_s_date").val(sDateNow);
        $("#id_s_date").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd',
            todayBtn: 1,
        });

        $("#id_e_date").val(sDateNow);
        $("#id_e_date").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd',
            todayBtn: 1,
        });

        //第一次启动时获取数据
//        GetData('', 'first_time');
    }

	function getTableData(){
		$.ajax({
			type:"POST",
			url:'{% url "framework_health_get_data_url" %}',
			dataType:"json",
			data:{
				csrfmiddlewaretoken: '{{ csrf_token }}',
			},
			async:false,
			success:function(data){
				var oTable = {};
				for (var i in data){
					dev_ip = data[i]['dev_ip'];
					dev_type = data[i]['dev_type'];
					sKey = dev_ip + '_' + dev_type;
					oTable[sKey] = data[i];
				}
				
				var iId = 0;
				for (sKey in oTable){
					oTable[sKey]['id'] = iId;
					aTable.push(oTable[sKey]);
					iId++;
				}
			}
		});
	}

	function procData(data) {
	    framework_data = data["framework_data"];
	    host_module_data = data["host_module_data"];
	    oFrameworkData = {};
        for (var i in framework_data){
            dev_ip = framework_data[i]['dev_ip'];
            dev_type = framework_data[i]['dev_type'];
            sKey = dev_ip + '_' + dev_type;
            if (oFrameworkData[sKey]){
                oFrameworkData[sKey]['insert_time'].push(framework_data[i]['insert_time']);
                oFrameworkData[sKey]['recv_cnt'].push(framework_data[i]['recv_cnt']);
                oFrameworkData[sKey]['send_cnt'].push(framework_data[i]['send_cnt']);
                oFrameworkData[sKey]['log_mq'].push(framework_data[i]['log_mq']);
                oFrameworkData[sKey]['netio_recv_mq'].push(framework_data[i]['netio_recv_mq']);
                oFrameworkData[sKey]['netio_send_mq'].push(framework_data[i]['netio_send_mq']);
                oFrameworkData[sKey]['api_recv_mq'].push(framework_data[i]['api_recv_mq']);
                oFrameworkData[sKey]['data_proc_recv_mq'].push(framework_data[i]['data_proc_recv_mq']);
                oFrameworkData[sKey]['put_conn_mq_fail_cnt'].push(framework_data[i]['put_conn_mq_fail_cnt']);
            }
            else{
                oFrameworkData[sKey] = {
                    'insert_time' : [framework_data[i]['insert_time']],
                    'recv_cnt' : [framework_data[i]['recv_cnt']],
                    'send_cnt' : [framework_data[i]['send_cnt']],
                    'log_mq' : [framework_data[i]['log_mq']],
                    'netio_recv_mq' : [framework_data[i]['netio_recv_mq']],
                    'netio_send_mq' : [framework_data[i]['netio_send_mq']],
                    'api_recv_mq' : [framework_data[i]['api_recv_mq']],
                    'data_proc_recv_mq' : [framework_data[i]['data_proc_recv_mq']],
                    'put_conn_mq_fail_cnt' : [framework_data[i]['put_conn_mq_fail_cnt']],
                };
            }
        }

	    oHostModuleData = {};
        for (var i in host_module_data){
            dev_ip = host_module_data[i]['dev_ip'];
            dev_type = host_module_data[i]['dev_type'];
            sKey = dev_ip + '_' + dev_type;
            if (oHostModuleData[sKey]){
                oHostModuleData[sKey]['insert_time'].push(host_module_data[i]['heartbeat_time']);
                oHostModuleData[sKey]['pre_start_cnt'].push(host_module_data[i]['pre_start_cnt']);
            }
            else{
                oHostModuleData[sKey] = {
                    'insert_time' : [host_module_data[i]['heartbeat_time']],
                    'pre_start_cnt' : [host_module_data[i]['pre_start_cnt']],
                };
            }
        }

    }

	function getTable(){
		$("#id_div_table").children().remove();
		var MyTaskGrid = new bbGrid.View({
			container: $('#id_div_table'),
			enableSearch: true,
			collection:  new Backbone.Collection(aTable),
			rows:20,
			rowList: [20,40,80],
			colModel: [
				{ title: '插入时间', name: 'insert_time',index: true,sorttype: 'string' },
				{ title: 'IP', name: 'dev_ip',index: true,sorttype: 'string' },
				{ title: '类型', name: 'dev_type',index: true,sorttype: 'string' },
				{ title: '收包数/分', name: 'recv_cnt',index: true,sorttype: 'number' },
				{ title: '发包数/分', name: 'send_cnt',index: true,sorttype: 'number' },
				{ title: '日志队列', name: 'log_mq',index: true,sorttype: 'number' },
				{ title: '网络IO收队列', name: 'netio_recv_mq',index: true,sorttype: 'string' },
				{ title: '网络IO发队列', name: 'netio_send_mq',index: true,sorttype: 'string' },
				{ title: 'API收队列', name: 'api_recv_mq',index: true,sorttype: 'string' },
				{ title: '数据处理收队列', name: 'data_proc_recv_mq',index: true,sorttype: 'string' },
				{ title: 'conn发队列写入失败', name: 'put_conn_mq_fail_cnt',index: true,sorttype: 'string' },
				{ title: '任务队列', name: 'pre_start_cnt',index: true,sorttype: 'string' },
			],
			buttons:[
				{
					title:"查看",
					onClick:function(){
						getGraph(this.getSelectedModels());
					},
				},
			],
		});
	}
	
	function getSeries(sName,aData){
		return {
			name:sName,
			type:'line',
			data:aData,
			markPoint : {
				data : [
					{type : 'max', name: '最大值',symbol: 'none'},
					{type : 'min', name: '最小值',symbol: 'none'},
				],
			},
			itemStyle : {
				normal : {
					lineStyle : {
						//color:'#c23531',
						width : 1,
					},
				},
			},
			symbol: 'none',
		};
	}

	function createGraph(sKey,sFlag) {
	    if (sFlag == "framework_data"){
	        var aTag = ['收包数/分','发包数/分','日志队列','网络IO收队列','网络IO发队列','API收队列','数据处理收队列','conn发队列写入失败'];
            var aFlag = ['recv_cnt','send_cnt','log_mq','netio_recv_mq','netio_send_mq','api_recv_mq','data_proc_recv_mq','put_conn_mq_fail_cnt'];
            var aTime = oFrameworkData[sKey]['insert_time'];
            var aSeries = [];
            for (var i = 0; i < aTag.length; i++){
                aSeries.push(getSeries(aTag[i],oFrameworkData[sKey][aFlag[i]]));
            }

            var MyChart = echarts.init(document.getElementById('id_div_mainPie'));
            window.onresize = MyChart.resize;

        }
        else if(sFlag == "host_module_data"){
            var aTag = ['任务队列'];
            var aFlag = ['pre_start_cnt'];
            var aTime = oHostModuleData[sKey]['insert_time'];
            var aSeries = [];
            for (var i = 0; i < aTag.length; i++){
                aSeries.push(getSeries(aTag[i],oHostModuleData[sKey][aFlag[i]]));
            }

            var MyChart = echarts.init(document.getElementById('id_div_mainPie1'));
            window.addEventListener('resize',MyChart.resize,false);
        }
		//重新变更图大小
//		window.onresize = MyChart.resize;

		options = {
			title : {
                    text: sDevIp,
                    subtext: sDevType,
                    textStyle:{
                    fontFamily: '微软雅黑'
                    },
                    subtextStyle:{
                    fontFamily: '微软雅黑'
                    },
			},
			tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:aTag,
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : aTime,
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} ',
                    }
                }
            ],
            series : aSeries,
		};
		MyChart.setOption(options);

//		$("#id_div_mainPie").css('visibility','visible');
		$("#id_all_graph").css('visibility','visible');
    }

	function getGraph(Models){
		if (_.isEmpty(Models)){
			alert('请选择要查询的列');
			return;
		}
		sDevIp = _.first(Models).get('dev_ip');
		sDevType = _.first(Models).get('dev_type');
        var today = new Date();
		var sDateNow = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
		$("#id_s_date").val(sDateNow);
		$("#id_e_date").val(sDateNow);
		getData('','first_time');
	}


	function getData(sDate,sFlag){

        var sStartDate = '';
        var sEndDate = '';
        if(sFlag === 's'){
            sStartDate = sDate;
            sEndDate = $('input[id=id_e_date]').val();
        }
        else if(sFlag === 'e'){
            sStartDate = $('input[id=id_s_date]').val();
            sEndDate = sDate;
        }
        else if(sFlag === 'first_time'){
            sStartDate = $('input[id=id_s_date]').val();
            sEndDate = $('input[id=id_e_date]').val();
        }


        $.ajax({
		    type:"POST",
			url:'{% url "framework_health_get_the_data_url" %}',
			dataType:"json",
			data:{
				csrfmiddlewaretoken: '{{ csrf_token }}',
				start_data:sStartDate,
				end_data:sEndDate,
                dev_ip:sDevIp,
                dev_type:sDevType,
			},
			async:false,
			success:function(data){
                procData(data);
            }
        });
        var sKey = sDevIp + '_' + sDevType;
        createGraph(sKey,"framework_data");
        createGraph(sKey,"host_module_data");
    }
</script>
{% endblock %}






