{% extends "AnsibleAutomation/common.html" %}

{% block title %}
	User group page
{% endblock %}

{% block subcontent %}

<div class="main_cont">
	<span class="title_level_1">用户组管理</span>
	<div class="asb_query_table">
		<ul class="" id="">
			<li class="" id="">
				<div class="input-group">
					<input style="width:275px" class="form-control" type="text" id="id_input_search" placeholder="请输入搜索内容（支持模糊搜索）"/>
					<span style="width:275px" class="input-group-btn">
						<button class="btn btn-default" type="button" id="id_button_search" onclick="Search()"><i class="fa fa-search" aria-hidden="true"></i></button>
					</span>
				</div>
			</li>
			<li class="" id="" style="float:right;">
				<button type="button" class="btn btn-default" id="id_button_up" onclick="JumpUpper()">返回</button>
			</li>
			<li class="" id="" style="float:right;">
				<button type="button" class="btn btn-default" id="id_button_del" onclick="DelUser()">删除</button>
			</li>
			<li class="" id="" style="float:right;">
				<button type="button" class="btn btn-default" id="id_button_create" onclick="CreateUser()">新增</button>
			</li>
			<li class="" id="" style="float:right;">
				<button type="button" class="btn btn-default" id="id_button_restore_del" onclick="RestoreDelUser()" style="display:none;">恢复</button>
			</li>
			
		</ul>
	</div>
	</br>
	
	<div id="id_div_show_status" class="asb_show_status">
		<a onclick="GetUsingData()" id="id_a_using" style="">使用中</a> |
		<a onclick="GetDelData()" id="id_a_del" style="">已删除</a>
	</div>
	
	
	<table data-toggle="table"
			id="table"
			data-url= "/ansible/get_user_data/using/empty_flag/"
			data-query-params="queryParams"
			data-pagination="true"
			data-sort-name="insert_time"
			data-sort-order="desc"
		   >
		<thead>
		<tr>
			<th data-field="insert_time" data-sortable="true">时间</th>
			<th data-field="username" data-sortable="true">用户</th>
		</tr>
		</thead>
	</table>
	
	
	
	<div id="id_modal_common" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="id_modal_title" class="modal-title"></h4>
				</div>
				<div id="id_modal_body" class="modal-body">
				</div>
				<div id="id_modal_footer" class="modal-footer">
					<button id="id_modal_close" class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
	var $table = $('#table');
	var gViewFlag = "using"; //using | del
	var aSelUser = [];
	
	$(function () {
		$table.on('click-row.bs.table', function (e, row, $element) {
				$('.success').removeClass('success');
				$($element).addClass('success');
		});
		
		//search bar bind enter event
		$("#id_input_search").bind('keypress',function(event){
			if(event.keyCode == '13'){
				Search();
			}
		});
		
		ProProcess();	
	});
	//-------------------------------------
	function queryParams() {
		//bootstrap-table分页
		return {
			type: 'owner',
			sort: 'updated',
			direction: 'desc',
			per_page: 100,
			page: 1
		};
	}
	
	function getSelectedRow() {
		//bootstrap-table行选择
		var index = $table.find('tr.success').data('index');
		return $table.bootstrapTable('getData')[index];
	}
	
	function ProProcess(){
		/*
		*预处理函数
		*/
		
		//modal拖动
		$("#id_modal_common").draggable({
			handle:".modal-header",
			cursor:"move",
			refreshPositions:false,
		});	
		
		//页面初始时，将使用中标红
		$("#id_a_using").attr("style","color:rgb(250,101,1)");
	}
	
	function Search(){
		console.log($("#id_input_search").val());
		//修改table的url、method
		var sSearchVal = $("#id_input_search").val();
		if(sSearchVal == ''){
			sSearchVal = 'empty_flag';
		}
		$("#table").bootstrapTable('refresh',{
			url: '/ansible/get_user_data/' + gViewFlag + '/' + sSearchVal + '/',
		});
	}
	
	function JumpUpper(){
		console.log('test');
		location.href = "{% url 'asb_main_page_url' %}";
	}
	
	function CreateUser(){
		//绘制modal
		$("#id_modal_title").empty();
		$("#id_modal_body").empty();
		$("#id_modal_footer #id_button_submit").remove();
		
		//填充
		$("#id_modal_title").append($('<span>新增用户</span>'));
		//$("#id_modal_body").append($());
		
		//清空选择内容
		aSelUser = [];
		
		$.ajax({
			type: "GET",
			url: "{% url 'get_add_user_data_url' %}",
			success: function(data){
				
				var aUser = data;
				var UserGrid = new bbGrid.View({        
					container: $('#id_modal_body'),
					enableSearch: true,
					collection:  new Backbone.Collection(aUser),
					rows:10,
					colModel: [
						//{ title: 'ID', name: 'id', sorttype: 'number' },
						{ title: 'UM账号', name: 'username',sorttype:'string' }, 
					],
					multiselect:true,
					selectedRows:aSelUser,
				});
				
				$(".bbGrid-pager").css("width","140px"); //修改搜索框的宽度
			}
		});		
		
		$("#id_modal_close").before($('\
			<button id="id_button_submit" class="btn btn-primary" type="button" onclick="UpdateCreateUser()">提交</button>\
		'));
		
		$("#id_modal_common").modal();
	}
	
	function DelUser(){
		if(true == confirm('确认删除吗？')){
			$.ajax({
				type:"POST",
				url:'{% url "del_user_url" %}',
				dataType:"json",
				data:{
					csrfmiddlewaretoken: '{{ csrf_token }}',
					user_group_id: getSelectedRow().user_group_id,
					map_id: getSelectedRow().map_id,
					username: getSelectedRow().username,
				},
				success:function(data){
					console.log(data);
					if(data['ret'] == 0){
						alert("非该用户的创建者，无法删除！");
					}
					else if (data['ret'] == 1){
						//成功删除，refresh table
						$('#table').bootstrapTable('refresh','{silent:true}');
					}
					else if(data['ret'] == 2){
						alert("无法删除创建者自己！");
					}
				}
			});
		}
	}
	
	function UpdateCreateUser(){
		console.log(aSelUser);
		$.ajax({
			type:"POST",
			url:'{% url "add_user_url" %}',
			data:{
					csrfmiddlewaretoken: '{{ csrf_token }}',
					luser_id: aSelUser,
				},
			success:function(data){
				$("#table").bootstrapTable('refresh',{url:''});
				$("#id_modal_common").modal('hide');
			},		
		});
		
	}
	function GetUsingData(){
		gViewFlag = "using";
		$("#id_a_del").removeAttr("style");
		$("#id_a_using").attr("style","color:rgb(250,101,1)");
		//显示按钮
		$("#id_button_create").attr("style","display:block");
		$("#id_button_del").attr("style","display:block");
		
		//隐藏按钮
		$("#id_button_restore_del").attr("style","display:none");
		
		 style="display:none;"
		
		$('#table').bootstrapTable('refresh','{silent:true}');
	}
	function GetDelData(){
		gViewFlag = "del";
		$("#id_a_using").removeAttr("style");
		$("#id_a_del").attr("style","color:rgb(250,101,1)");
		//隐藏按钮
		$("#id_button_create").attr("style","display:none");
		$("#id_button_del").attr("style","display:none");
		
		//隐藏按钮
		$("#id_button_restore_del").attr("style","display:block");
		
		$("#table").bootstrapTable('refresh',{
			url: '/ansible/get_user_data/del/empty_flag/',
		});
	}
	function RestoreDelUser(){
		if(true == confirm('确认恢复吗？')){
			$.ajax({
				type:"POST",
				url:'{% url "restore_del_user_url" %}',
				dataType:"json",
				data:{
					csrfmiddlewaretoken: '{{ csrf_token }}',
					user_group_id: getSelectedRow().user_group_id,
					map_id: getSelectedRow().map_id,
					username: getSelectedRow().username,
				},
				success:function(data){
					console.log(data);
					if(data['ret'] == 0){
						alert("非该用户的创建者，无法恢复！");
					}
					else if (data['ret'] == 1){
						$('#table').bootstrapTable('refresh',{
							url:'/ansible/get_user_data/del/empty_flag/',
						});
					}
					else if(data['ret'] == 2){
						alert("无法恢复创建者自己！");
					}
				}
			});
		}
	}
	
</script>

{% endblock %}